# Port on which the application will listen
PORT=

# Supabase API URL (Local Docker default: http://localhost:8000, container-to-container: http://kong:8000)
SUPABASE_URL=

# Supabase API Key (Local Docker default anon key)
SUPABASE_KEY=

# OTP Service API URL (Local Docker default: http://localhost:8080, container-to-container: http://otp:8080)
OTP_URL=

# production ou development
NODE_ENV=