# Port on which the application will listen
PORT=3000

# Supabase API URL
SUPABASE_URL=https://your-project-id.supabase.co

# Supabase API Key (Anon key or service role key depending on your usage)
SUPABASE_KEY=your-supabase-anon-or-service-role-key

# OTP Service API URL
OTP_URL=https://your-otp-service.com/api

# production ou development
NODE_ENV=